.new_issue_change_label, .update_issue_change_label{
  display: inline!important;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.new_issue_change_label{background-color: #62C462;}
.update_issue_change_label{background-color: #5BC0DE}