<%= labelled_fields_for :pref, user.pref do |pref_fields| %>
<p><%= pref_fields.check_box :show_issue_change_labels, {:checked => user.pref.show_issue_change_labels?, :label => "Display New/Updated lables on issues"} %></p>
<% end %>
