<% if @issue_changes_labels.present? %>
  <% @issue_changes_labels.each do |id, label| %>
    var link = $("#issue-<%= id %> td.subject a:first");
    $(link).html("<span class='<%= label[1] %>'><%= label[0] %></span>&nbsp;" + $(link).html());
  <%end%>
<%end%>